      /* Body */
      body {
        margin: 0px;
        font-family: "Lato", sans-serif;
      }

      /* Top Navigation */

      .topnav {
        max-height: 50px;
        background-color: #333;
        position: fixed;
        width: 100%;
        top: 0;
        overflow: hidden;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        vertical-align: sub;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;

      }

      .logo {
        float: left;
        color: white;
        vertical-align: top;
      }

      .logo a {
        padding: 0;
      }
      /* .topnav a.active {
        background-color: #04aa6d;
        color: white;
      } */

      /* Side Navigation */

      .sidenav {
        /* width: 10%; */
        position: fixed;
        z-index: 1;
        top: 75px;
        right: 15px;
        overflow-x: hidden;
        padding: 8px 0;
        background-color: #333;
        color: white;
        border-radius: 6px;
      }
      .sidenav-left {
        /* width: 10%; */
        position: fixed;
        z-index: 1;
        top: 75px;
        left: 15px;
        overflow-x: hidden;
        padding: 8px 0;
        background-color: #333;
        color: white;
        border-radius: 6px;
      }

      .sidenav-link {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: inherit;
        font-size: .9em;
        /* border: 2px outset lightgray; */
        display: block;
      }

      .sidenav-link :hover {
        color: #2196f3;
      }

      .sidenav-toggle {
        text-decoration: none;
        color: black;
        font-size: .9em;
        /* border: 2px outset lightgray; */
        display: block; 
        padding: 0px;
        border: none;
        margin-left: 40px;
      }

      /* Main Content */

      #welcome {
        text-align: center;
        margin-top: 60px;
      }
      .main {
        margin-top: 2em;
        margin-right: 10%;
        font-size: 1.2em;
        padding: 0px 10px;
        overflow-x: hidden;
      }
      .main-right {
        margin-top: 2em;
        margin-left: 10%;
        font-size: 1.2em;
        padding: 0px 10px;
        overflow-x: hidden;
      }

      .buy-me-a-coffee {
        vertical-align: middle;
      }

      /* Media Queries */
      
      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
        .sidenav a {
          font-size: 18px;
        }
    }